<div class="Container" style="color:whitesmoke; background-color: #0bc1f9; padding: 10px;">
  <div class="row">
    <div class="col-md-10">
      <h1 style="color: black; margin-left: 30px;">About Pharmacy</h1>
    </div>
    <div class="col-md-2">
      <button type="button" [routerLink]="['/home']" style="padding: 5px; width:80px; margin: 10px;"
        class="btn btn-primary">Back</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="bgrim">

    <p>
      1. Pharmacy is important in our lives because pharmacists dispense lifesaving drugs prescribed by the Doctor.
       They educate patients on the dosage & timing of the medicine because this ensures quick recovery.
    </p>
    <p>
      2. Pharmacy is crucial for humanity because lethal viruses will confront us in the future because of overexploitation of resources.
       These pharmacists develop vaccines that can protect us from deadly infections.
    </p>
  </div>
</div>


<div class="Container" style="color:rgb(0, 0, 0); text-align: center;  background-color: #0bf976; padding: 10px;">
  <footer><span class="text-danger"><strong>This site is copyright & copy;to LTI.All rights are reserved
        here..</strong></span></footer>
</div>
